body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Шрифт для всего документа */
    background-color: #f0f0f0; /* Светлый фон для дашборда */
    color: #333; /* Темный цвет текста для лучшей читаемости */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Выравнивание содержимого по верхней части */
    height: 90vh; /* Высота на весь экран */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #2c2c2c;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
}

header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    color: #9b59b6;
}

header a {
    color: #f4f4f4;
    text-decoration: none;
    margin-left: auto;
    padding: 10px;
    background-color: #9b59b6;
    border-radius: 5px;
}

header a:hover {
    background-color: #8e44ad;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: #2c2c2c;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Скрываем переполнение */
}

.history {
    width: 30%;
    border-right: 1px solid #ddd;
    padding: 20px;
    overflow-y: auto;
    background-color: #2c2c2c; /* Светлый фон для истории */
}

.history h2 {
    color: #9b59b6;
    font-weight: 700;
}

#dialog-history {
    list-style: none;
    padding: 0;
}

.message {
    background-color: #3b3b3b;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.chat {
    width: 70%;
    padding: 20px;
}

.chat h2 {
    color: #9b59b6;
    font-weight: 700;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.form-control {
    flex: 1;
    padding: 12px;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    transition: border-color 0.3s; /* Анимация при наведении */
}

.form-control:focus {
    border-color: #9b59b6; /* Цвет границы при фокусе */
    outline: none; /* Убираем стандартное выделение */
}

.btn {
    background-color: #9b59b6;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s; /* Анимация при наведении */
}

.btn:hover {
    background-color: #8e44ad; /* Цвет кнопки при наведении */
}

.upload-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.upload-btn:hover {
    background-color: #2980b9;
}

#response-container {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

#fileInput {
    display: none;
}
